    /* шапка общее */
    .header{
  position: static;
  top: 0;
  left: 0;св
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  z-index: 1; /* Любое положительное значение */
  width: 100%;
  padding: 01px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  flex-direch
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
t
.container-fluid {
    position: relative;
    min-height: 69px;
}

.nav_sq{
    padding: 0px 44px 10px 27px;
}

.cart_container{
    padding: 0px 0px;
}

av div button{
    float: left;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.fixed-top {
    position: fixed;
    z-index: 1030;
    padding: 0px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offcanvas.offcanvas-end {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

/* поисковая строка */

.search{
    padding-bottom: 10px;
}

form{
      position: relative;
      width: 508.96px;
      height: 31.93px
      margin: 0 auto;
}

.search input{
    width: 100%;
    height: 31.93px;
}

.search_button{
    position: absolute;
    background: #010b40;
    padding: 5px 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin: 0 auto;
    color: #FFFFFF;
}

.nav_right_sec{
    padding: 0 0 0 76px;
}

.cart_btn{
    margin: 0 0 0 44px;
    background: #A9A7EB;
    width: 44px;
    height: 37px;
    border: none;
}
.truck{
    margin-top: 0px;
    width: 44px;
    height: 39px;
}
.basket{
    margin-top: 0px;
    width: 44px;
    height: 37px;
    }
footer {
    width: 100%;
    height: auto;
    background-color: #150637;
    color: #f3f3f3;
    padding-top: 33px;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: capitalize;
}

.footer-content p{
    max-width: 604.19px;
}

.footer_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0px 105px;
}

.footer_text li{
    margin: 0px 120px;
    font-size: 35px;
}

.footer_text a{
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

.footer_icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_icons li{
    margin: 0 130px;
}

footer img {
  width: 139px;
  height: 129px;
  margin-bottom: 123px;
}

.footer_bottom{
    font-size: 24px;
    padding-bottom: 36px;
}